<div class="container mt-4">
    <div class="card mb-4">
        <div class="card-header bg-primary btn-sm d-flex justify-content-between align-items-center">
            <h5 class="mb-0">Create New Enrollment</h5>
        </div>
        <div class="card-body">
            <form [formGroup]="enrollmentForm">
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label class="form-label">
                            {{ "Course Title" | localize }}
                        </label>
                        <select class="form-control
                            form-select-lg mb-3"
                                formControlName="courseId">
                            <option [ngValue]="null" disabled selected style="color: #6c757d;">Select Course</option>
                            <option *ngFor="let course of courses" [value]="course.id">
                                {{ course.title }}
                            </option>
                        </select>
                    </div>

                    <div class="col-md-6">
                        <label class="form-label">
                            {{ "Learner Name" | localize }}
                        </label>
                        <select class="form-control form-select-lg mb-3"
                                formControlName="learnerId">
                            <option [ngValue]="null" disabled selected style="color: #6c757d;">Select Learner</option>
                            <option *ngFor="let learner of learners" [value]="learner.id">
                                {{ learner.name }}
                            </option>
                        </select>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-6">
                        <label class="form-label">
                            {{ "Completion Percentage" | localize }}
                        </label>
                        <select class="form-control form-select-lg mb-3"
                                formControlName="completionPercentage">
                            <option [ngValue]="" disabled selected style="color: #6c757d;">0</option>
                            <option [value]="25">25%</option>
                            <option [value]="50">50%</option>
                            <option [value]="75">75%</option>
                            <option [value]="100">100%</option>

                        </select>
                    </div>

                    <div class="col-md-6">
                        <label class="form-label">
                            {{ "IsCompleted" | localize }}
                        </label>

                        <select class="form-control form-select-lg mb-3"
                                formControlName="isCompleted">
                                <option [ngValue]="false">False</option>
                                <option [ngValue]="true">True</option>
                        </select>
                    </div>

                </div>


              <div class="d-flex justify-content-end" style="display:flex; gap:10px;">
                <button type="button"
                    class="btn btn-sm btn-secondary"
                    (click)="Reset()">
                   {{ "Reset" | localize }}
                </button>

                <button type="button"
                    class="btn btn-sm btn-primary"
                    (click)="Save()"
                    [disabled]="enrollmentForm.invalid">
                    {{ "Save" | localize }}
                </button>
              </div>
            </form>
        </div>

      <div class="card mb-4">
        <div class="card-header bg-primary btn-sm d-flex justify-content-between align-items-center">
            <h5 class="mb-0">Enrollments</h5>
        </div>

        <div class="card-body">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Enrollment ID</th>
                        <th>Learner Name</th>
                        <th>Course Title</th>
                        <th>Completion Percentage</th>
                        <th>IsCompleted</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let enrollment of enrollments">
                        <td>{{ enrollment.id }}</td>
                        <td>{{ enrollment.learnerName }}</td>
                        <td>{{ enrollment.courseTitle }}</td>
                        <td>{{ enrollment.completionPercentage}}</td>
                        <td>
                            <span [ngClass]="enrollment.isCompleted ? 'text-success' : 'text-danger'">
                                {{ enrollment.isCompleted ? 'true' : 'false' }}
                            </span>
                        </td>
                        <td>
                            <div style="display:flex; gap:8px;">
                                <button type="button" class="btn btn-sm btn-secondary me-2" (click)="EditEnrollment(enrollment)">
                                    <i class="fas fa-edit"></i>
                                </button>

                                <button class="btn btn-primary btn-sm" (click)="DeleteEnrollment(enrollment)">
                                    <i class="fas fa-trash"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
      </div>
    </div>
</div>
