/*:host ::ng-deep .ngx-pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: 0.25rem;
    margin: 20px 0;
    justify-content: center;
}

:host ::ng-deep .ngx-pagination li {
    display: inline-block;
    margin-right: 2px;
}

:host ::ng-deep .ngx-pagination li a,
:host ::ng-deep .ngx-pagination li span {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #dee2e6;
    cursor: pointer;
}

:host ::ng-deep .ngx-pagination li:first-child a,
:host ::ng-deep .ngx-pagination li:first-child span {
    margin-left: 0;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

:host ::ng-deep .ngx-pagination li:last-child a,
:host ::ng-deep .ngx-pagination li:last-child span {
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

:host ::ng-deep .ngx-pagination li a:hover,
:host ::ng-deep .ngx-pagination li span:hover {
    z-index: 2;
    color: #0056b3;
    text-decoration: none;
    background-color: #e9ecef;
    border-color: #adb5bd;
}

:host ::ng-deep .ngx-pagination .current {
    z-index: 3;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

:host ::ng-deep .ngx-pagination .disabled span {
    color: #6c757d;
    pointer-events: none;
    cursor: auto;
    background-color: #fff;
    border-color: #dee2e6;
}
*/
